PyPDF2
bs4
captcha
cryptography
datetime
eel
lyricsgenius
matplotlib
numpy
plotly
pyautogui
pyshorteners
pyttsx3
pytube
qrcode
requests
syntax
vpython
wheel
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
gitpython>=3.1.30 # not directly required, pinned by Snyk to avoid a vulnerability
